---
dictionaryName: notes
sortedBy: sortedByItem
author: Mark Smith
webRoot: /notes
perPage: 50
perDateItemOrdering: chronological
dateTimePrefix: true
---
<p>Mark Smith's Notes (With Datetime Prefix)</p>

<%- await renderComponent(new components.Linkblog(dictionaryName, sortedBy, author, webRoot, perPage, perDateItemOrdering, dateTimePrefix, undefined, undefined), {}); %>