---
dictionaryName: notes
author: Mark Smith
webRoot: /notes
perPage: 50
perDateItemOrdering: chronological
postsByCalendar: true
postsByCalendarItemComponentName: NotesItem
dateTimePrefix: false
listClass: bulletless
itemTitleHtmlTag: h2
---
<p>Mark Smith's Notes (Without Datetime Prefix)</p>

<%- await renderComponent(new components.Notes(dictionaryName, author, webRoot, perPage, perDateItemOrdering, postsByCalendar), { itemTitleHtmlTag, dateTimePrefix, postsByCalendarItemComponentName, listClass }); %>