---
dictionaryName: notes
webRoot: /archives/notes
perPage: 5
postsByCalendar: true
perDateItemOrdering: chronological
postsByCalendarItemComponentName: NotesItem
dateTimePrefix: false
listClass: bulletless
itemTitleHtmlTag: h2
---
<p>Mark Smith's Notes (By Calendar)</p>

<%- await renderComponent(new components.Notes(dictionaryName, webRoot, perPage, postsByCalendar, perDateItemOrdering), { itemTitleHtmlTag, dateTimePrefix, postsByCalendarItemComponentName, listClass }); %>