---
dictionaryName: notes
webRoot: /archives/notes
postsPerPage: 5
postsByCalendar: true
perDateItemOrdering: chronological
postsByCalendarItemComponentName: NotesItem
dateTimePrefix: true
listClass: bulletless
itemTitleHtmlTag: h2
---
<p>Mark Smith's Notes (By Calendar)</p>

<%- await renderComponent(new components.Notes(dictionaryName, webRoot, postsPerPage, postsByCalendar, perDateItemOrdering), { itemTitleHtmlTag, dateTimePrefix, postsByCalendarItemComponentName, listClass }); %>