---
dictionaryName: notes
sortedBy: calendarDaily
author: Mark Smith
webRoot: /notes
perPage: 50
perDateItemOrdering: chronological
dateTimePrefix: false
---
<p>Mark Smith's Notes ByCalendar (customComponent > withoutPrefix)</p>

<%- await renderComponent(new components.Notes(dictionaryName, sortedBy, author, webRoot, perPage, perDateItemOrdering, dateTimePrefix, undefined, undefined), {}); %>