---
dictionaryName: notes
sortedBy: sortedByDateDaily
author: Mark Smith
webRoot: /notes
perPage: 50
perDateItemOrdering: chronological
dateTimePrefix: true
ejsRmWhitespace: false
---
<p>Mark Smith's Notes (With Datetime Prefix)</p>

<%- await renderComponent(new components.Notes(dictionaryName, sortedBy, author, webRoot, perPage, perDateItemOrdering, dateTimePrefix, undefined, undefined), { ejsRmWhitespace }); %>